#get this into app/config/routes.neon and load in bootstrap
#or into app/config/config.neon

parameters:
	routes:
		api/info:
			presenter: App\ApiModule\Presenters\ApiPresenter
			method:
				GET: getDefault
		api/user/authorize:
			presenter: App\ApiModule\Presenters\ApiPresenter
			method:
				POST: authorize
		api/message/add:
			presenter: App\ApiModule\Presenters\ApiPresenter
			method:
				POST: add
		api/message/get-all:
			presenter: App\ApiModule\Presenters\ApiPresenter
			method:
				GET: getAll
		api/message/get-new:
			presenter: App\ApiModule\Presenters\ApiPresenter
			method:
				GET: getNew
		api/message/mark:
			presenter: App\ApiModule\Presenters\ApiPresenter
			method:
				GET: getMark
				POST: postMark
				PUT: putMark

services:
	routes: NetteRestApi\ApiRouteProcessor(%routes%)